{{ define "main" }}

      <h1>Ailleurs sur le ouaibe</h1>

      <p>
        Ci dessous vous trouverez une sélection de sites et blogs pour lesquels je suis abonné via RSS.
        La liste est générée avec <a href="https://codeberg.org/s10a/feedring">feedring</a> de <a href="{{ ref . "001-remplacement-openring-feedring.md" }}">cette façon</a>.
        <br/><br/>
        Bons sauts dans les interouaibes !
      </p>

    {{ partial "webring.html" . }}
{{ end }}
