/* tuto : https://www.alsacreations.com/tuto/lire/586-feuille-style-css-print-impression.html  */
/* Navigation items that should not be printed */
.site-header, #articles-roll, #fediverse, .blogroll {
    display: none;
}

/* Items that require a specific presentation for printing */

body {
    background-color: #ffffff;
    color: #000000;
}

a  {
    text-decoration: none;
    color: #000000;
    font-weight: normal;
    font-style: normal;
}

article > ul > li > a:after, p > a:after { 
    content: " [" attr(href) "] "; 
    font-size:80%;
}

article { border-bottom: 2pt solid black; }
article > header { border-bottom: 1pt solid black; }
img { height: auto; max-width: 60%; }
img, pre {
  break-inside: avoid-page;
}
