/* Catpucine */
:root {
    /* Mocha */
    --main-font-color:#cdd6f4; /* Text */
    --main-bg-color:#181825; /* Mantle */
    --inner-blocks-bg-color:#11111b; /* Crust */
    --inner-blocks-font-color:var(--main-font-color);
    --toc-bg-color:var(--inner-blocks-bg-color);
    --href-color:#94e2d5; /* Teal */
    --href-hover:#FFF;
    --blockquote-left-border:var(--href-color);
    --inline-code-font-color:#f9e2af; /* Yellow */
    --card-bg-color: #1e1e2e; /* Base */
    --bands-table-hover:var(--main-bg-color);
}
@media screen and (prefers-color-scheme: light){
    :root {
    /* Latte */
    --main-font-color:;#4c4f69;
    --main-bg-color:#e6e9ef;
    --inner-blocks-bg-color:#dce0e8;
    --inner-blocks-font-color:var(--main-font-color);
    --toc-bg-color:var(--inner-blocks-bg-color);
    --href-color:#179299;
    --href-hover:#8b0a0e;
    --blockquote-left-border:var(--href-color);
    --inline-code-font-color:#df8e1d;
    --card-bg-color: #eff1f5;
    --bands-table-hover:var(--main-bg-color);
    }
}

body {
    font-family: sans-serif;
    color: var(--main-font-color);
    background-color: var(--main-bg-color);
    margin: 0px auto;
}
main {
    margin: 0px auto;
    max-width:80ch;
}
/* idea found at https://lord.re/ */
@media (max-width:130ch){
    main {
        width:95%;
    }
    html{font-size:14pt;}
    table thead {
    display: none;
    }

    table tr{
    display: block;
    margin-bottom: 40px;
    }

    table td {
    display: block;
    text-align: right;
    }

    table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    }
}
@media (min-width: 130ch){
 html{
  font-size:15pt;
 }
}
@media (min-width: 200ch){
 html{
  font-size:17pt;
 }
}

article p, #welcome {text-align:justify;}
h1::before {content: "# "; color:var(--inline-code-font-color);}
h1 {font-family: monospace; }
h2::before {content: "## ";  color:var(--inline-code-font-color);}
h2 {font-family: monospace; margin-top: 2.0rem; }
h3::before {content: "### ";  color:var(--inline-code-font-color);}
h3 {font-family: monospace; margin-top: 1.5rem; }
h4::before {content: "#### ";  color:var(--inline-code-font-color);}
h4 {font-family: monospace; }
h5::before {content: "##### ";  color:var(--inline-code-font-color);}
h5 {font-family: monospace; }
h6::before {content: "###### ";  color:var(--inline-code-font-color);}
h6 {font-family: monospace; }

.card {
    margin: 1.5rem 0 1.5rem 0;
    padding: 1.5rem 0 1.5rem 0;
    background-color: var(--card-bg-color);
    margin-top: 20px;
    box-shadow: 0 0 0 0,0 6px 12px rgba(0,0,0,.2);
    border-bottom: 2px solid var(--href-color);
}
.card > :not(details, ul, .highlight, blockquote, .nocardpadding) { padding: 0 1.5rem 0 1.5rem;}
.left-side {float:left;}
.right-side {float:right; text-align:center;}
.site-name { font-family: monospace;}
/*
.site-name::before {content: "[";}
.site-name::after {content: "]$_";}
*/
.site-header {
    padding: 1rem;
    overflow:auto;
}

/* Styling for elements */
a { color: var(--href-color); text-decoration: none; border-bottom: 1px dotted;}
a:hover {color: var(--href-hover); }
li { line-height: 1.6em; }
small { font-size: 0.8em; }
img { max-height: 55vh; width: auto; }
.centered { float: none; margin-left: auto; margin-right: auto; }
.content-title { margin-bottom: 30px; }
figure img {margin-left: auto; margin-right: auto; display:block; max-width:100%; border:2px dotted var(--href-color);}
figure img:hover {box-shadow: 0 0 0.3rem 0.3rem var(--href-hover);}
figure {text-align:center; margin:auto; margin-bottom:1.5rem;}
figcaption {font-size:0.9rem; font-style: italic;padding-top:1.0rem;}
blockquote { color:var(--inner-blocks-font-color); background-color: var(--inner-blocks-bg-color); border-left: 4px solid var(--blockquote-left-border); padding: 0.5em 1.0em 0.5em 1.0em; margin: 1.0em 0 1.0em 0; }
dd:not(:last-child) {margin-bottom: 1.5rem;}

.highlight pre {
    display: block;
    padding: 1.5rem;
    margin: 0px 0px 9px;
    background-color: var(--inner-blocks-bg-color) !important;
    overflow:auto;
    font-size: 0.8rem;
}
p > code, ul > li > code, ol > li > code {
    font-size: 0.9rem;
    padding: 3px 4px;
    background-color: var(--inner-blocks-bg-color);
    color: var(--inline-code-font-color);
}

.articles-metadata {
    font-size: small;
}
.article-tags a {margin-right: 0.7em;}
article > ul { padding-left: 3.0rem; padding-right: 2.0rem;}

/* tags  */
ul.tags {
    text-align: center;
    list-style: none;
    padding: 0 1.5em 0 1.5em;
    margin:0;
    line-height: 2.0rem;
}
ul.tags li {
    display: inline-block;
    margin-right: 0.6em;
}


footer {text-align:center;  font-size: 0.8em; }

#toc {font-size: 0.9rem; background-color: var(--toc-bg-color); padding-top: 1.0rem; padding-bottom: 1.0rem;}
#toc h2 {margin-top: 0px;}

.search {
  display: flex;
  justify-content: center;
  min-width: 1em;
  line-height: 1.5rem;
  padding: 1.25em;
}

.search-input {
    font-size:1.5rem;
    background-color:var(--inner-blocks-bg-color);
    color:var(--inner-blocks-font-color);
    margin:0.5em;
    padding:0.5em;
    border: none;
    width:70%;
}

/* fake keyboard keys */
.key {
    background-color:var(--inner-blocks-bg-color);
    color:var(--inner-blocks-font-color);
    text-align: center;
    border-left: 1px solid #cfcfcf;
    border-top: 1px solid #cfcfcf;
    border-right: 2px solid #666;
    border-bottom: 2px solid #666;
    border-radius: 0.2em;
    padding: 0.1em 0.3em;
    vertical-align: top;
    white-space: nowrap;
}

summary {
  padding:0.3rem;
 cursor:pointer;
}
article > details > summary{
 color:var(--inner-blocks-font-color);
 background:var(--inner-blocks-bg-color);
 border:2px dotted var(--href-color);
}
article > details > summary:hover, summary:focus{
 border:2px dotted var(--href-hover);
}
.more-content > summary {background:var(--main-bg-color);}

table {width:100%; border-collapse:collapse;}
tr:hover {background-color: var(--bands-table-hover);}
th, td { border-bottom: 1px solid var(--bands-table-hover); padding:0.5rem;}
footer{
    text-align:center;
    font-size: 0.8em;
    display: block;
    box-sizing: border-box;
}
ul.centered { text-align: center; }
ul.bands-list {
    list-style: none;
    line-height: 2.0rem;
    padding-left:1.0rem;
}
ul.bands-list li {
    display: inline-block;
    margin-right: 0.6em;
}
progress{background:#424242;width:100%;border:none;}
.bar-success::-webkit-progress-value{background: linear-gradient(to left, #5cb860, #4CAF50);}
.bar-success::-moz-progress-bar{background: linear-gradient(to left, #5cb860, #4CAF50);}
.bar-warning::-webkit-progress-value{background: linear-gradient(to left, #ffc300, #FF9800);}
.bar-warning::-moz-progress-bar{background: linear-gradient(to left, #ffc300, #FF9800);}
.bar-danger::-webkit-progress-value{background: linear-gradient(to left, #f34f1e, #f32c1e);}
.bar-danger::-moz-progress-bar{background: linear-gradient(to left, #f34f1e, #f32c1e);}

