{{ define "main" }}

<article class="card">
  <header>
    <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
{{ if ne .Lastmod .Date }}
    <p class="articles-metadata">
    Dernière mise à jour le 
    {{ .Lastmod.Day }} {{ index $.Site.Data.mois (printf "%d" .Lastmod.Month) }} {{ .Lastmod.Year }}
    </p>
{{ end }}
  </header>

<p>Sur cette page, des liens, des mini astuces glanées au fil du temps, et autres choses trop courtes pour faire un article.</p>

{{ with .Params.show_toc }}
    <div id="toc">
        <h2>Contenu</h2>
        {{ $.TableOfContents }}
    </div>
{{ end }}

    {{ .Content }}
</article>

  {{ partialCached "plus_d_articles.html" . }}

{{ end }}
