<p class="articles-metadata">
  {{ partial "article_date.html" .}}
  -
  <span class="article-tags">
      {{ with .Params.tags }}
        {{ range . }}
      <a href="{{ site.BaseURL }}tags/{{ . | urlize }}">{{ . }}</a>
        {{ end }}
      {{ end }}
    {{ with .Params.bands }}
        {{ range . }}
            {{ $band := . }}
            {{ $tomap := $band | anchorize }}
            <a href="/bands/{{ $tomap }}">{{ $band }}</a>&nbsp;
        {{ end }}
    {{ end }}

  </span>
  <a href="{{ .Site.BaseURL }}{{ .Section }}">
      {{ .Section | humanize }}
  </a>
    /
  {{ if not (eq .CurrentSection.Title (.Section | humanize )) }}
      <a href="{{ .CurrentSection.Permalink }}">{{ .CurrentSection.Title }}</a>
  {{ end }}
{{ with .Page.Draft }}
    <span>🚧 ⚒️ <b>!! BROUILLON !!</b> ⚒️ 🚧</span>
{{end }}
</p>
