<details class="more-content">
  <summary>Plus de contenu ?</summary>
  <div class="card">
      <p>
        Visitez les différentes catégories
          {{ range sort .Site.Sections.ByTitle }}
            {{ if gt (len .RegularPagesRecursive) 0 }}
            <a href="{{ .Permalink }}">{{ .Title | humanize }}</a>,
            {{ end }}
          {{ end }}
        ou encore <a href="{{ .Site.BaseURL }}archives/">explorez les archives</a>.
      </p>
  </div>
</details>
