{{ define "main" }}

<h2>Erreur 404</h2>

<div>
<p>
La page demandée n'existe p<i>h'nglui mglw'nafh Cthulhu R'lyeh wgah'nagl fhtagn.
    Ebunma kadishtu ee, geb ee r'luh ebunma nawgah'n shagg kadishtu,
    ya n'gha sgn'wahl nilgh'ri y'hah gotha orr'e.
    Hai nilgh'ri ngy'hah athg fhtagn nnnhupadgh fhtagn li'heeyar uaaah zhro naflhrii,
    bug R'lyeh naflah y-grah'n ph'R'lyeh bug </i><b>'fhalma nilgh'ri y-Cthulhu,
    stell'bsna cR'lyeh vulgtm Dagon uaaah Tsathoggua naflnw ep Cthulhu.
    Lw'nafh k'yarnak R'lyehnyth uh'e ilyaa llll wgah'n ron,
    y-Nyarlathotep ah grah'n bug f'ron kn'a, Dagon 'ai sll'ha lw'nafh naebunma athg.
    NaflDagon ngy'hah hupadgh mnahn'oth Nyarlathotep </b><code>gotha 'fhalma Nyarlathotep uln shogg,
    vulgtlagln 'bthnk y-R'lyeh uaaah throd nnnkadishtu 'bthnk syha'h uh'e,
    fhtagn Yoggoth mg shtunggli Cthulhu uh'e sgn'wahl Cthulhu</code>.
</p>
<p>
N'hésitez pas à utiliser les différents <i>R'</i>liens du menu
pour retrouver votre chemin.
</p>
</div>


<div style="position:fixed; bottom:0px;">
    <a href="https://ephemer.kapsi.fi/FhtagnGenerator.php">
        <img src="{{ .Site.BaseURL }}cthulhu.png" alt="Un petit Cthulhu qui écarquille les yeux et dit « LOL WUT ? » que l'on pourrait traduire par « Qu'est-ce que putain de quoi ? »">
    </a>
</div>

{{ end }}

{{ define "footer" }}
    <!-- nope ! -->
    {{/* no footer on 404 */}}
{{ end }}
