{{ define "main" }}

<article class="card">
  <header>
    <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
  </header>

{{ with .Params.show_toc }}
    <div id="toc">
        <h2>Contenu</h2>
        {{ $.TableOfContents }}
    </div>
{{ end }}

    {{ .Content }}
</article>

{{ end }}
