<!DOCTYPE html>
<html lang='{{ .Site.Language.Lang }}'>
    <head>
        <meta charset="utf-8">
        <title>
            {{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <meta name="description" content="{{ .Site.Params.description }}">
        <meta name="keywords" content="{{ range .Params.Tags }}{{ . }},{{ end }}">
        <meta name="author" content="{{ .Site.Params.author }}">
        <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL}}css/style.css" media="screen">
        <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL}}css/syntax.css" media="screen">
        <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL}}css/print.css" media="print">
        <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL}}css/commentaires.css" media="screen">
        <link href="{{ .Site.BaseURL }}index.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}">
        <link rel="icon" type="image/svg+xml" href="{{ .Site.BaseURL }}favicon.svg">
        {{ template "_internal/opengraph.html" . }}
        <meta name="fediverse:creator" content="@Chagratt@pleroma.chagratt.site" />
        <link rel="me" href="{{ .Site.Params.pleroma_profile }}" />
    </head>
    <body>
        <a href="#content" title="Passer directement au contenu" class="sr-only"></a>
        <header class="site-header">
            <span class="left-side">
                <a href="{{ .Site.BaseURL }}" class="site-name">{{ .Site.Title }}</a>
                {{ index $.Site.Data.sections (printf "%s" .Section) }}
                {{- if eq  .Page.Title "404 Page not found" -}}☠️{{- end -}}
            </span>
            <nav class="right-side">
                <a href="{{ .Site.BaseURL }}menu/" title="La liste des principales pages et catégories">Menu</a>
                ::
                <a href="{{ .Site.BaseURL }}archives/" title="La liste de tous les articles, triés par date décroissante">Archives</a>
                |
                <a href="{{ .Site.BaseURL }}lastmod/"><abbr title="Mises à jour : archives triées par date de dernière modification">MàJ</abbr></a>
                |
                <a href="{{ .Site.BaseURL }}recherche/" title="Recherche">Recherche</a>
                |
                <a href="{{ .Site.BaseURL }}a-propos/" title="À propos de ce site">À propos</a>
                |
                <a href="{{ .Site.BaseURL }}index.xml" title="Le flux RSS, pour vous tenir au courant des nouveautés sans effort. :)">RSS</a>
                |
                <a href="{{ .Site.BaseURL }}ailleurs/" title="Une sélection d'autres sites/blogs">Ailleurs</a>
            </nav>
        </header>

        <main id="content">

            {{- block "main" . }}{{ end -}}

        </main>

        {{- block "footer" . }}
        <footer>
            <p>
            Contenu sous <a href="https://creativecommons.org/licenses/by-sa/4.0/">licence CC BY-SA 4.0</a>
            -
            Discuter avec moi de tout ça <a href="{{ .Site.Params.pleroma_profile }}" rel="me" title="Mon profil Pleroma sur le Fediverse">sur le Fediverse</a>
            <br/>
            Dernière mise à jour du site le {{ .Site.Lastmod.Day }} {{ index $.Site.Data.mois (printf "%d" .Site.Lastmod.Month) }} {{ .Site.Lastmod.Year }}
            </p>
        </footer>
        {{ end -}}

    </body>
</html>
