﻿{{ define "main" }}

<h1>{{ .Title }}</h1>

<p>{{ .Content }}</p>

  {{ $pages := .Pages }}
  {{ range ($pages.GroupByDate "2006") }}
    <h2>{{ .Key }}</h2>
    <dl class="card">
      {{ range .Pages }}
          <dt>
              {{ partial "article_title.html" .}}
          </dt>
          <dd>
              {{ partial "metadata.html" .}}
          </dd>
      {{ end }}
    </dl>
    {{ end }}

  {{ partialCached "plus_d_articles.html" . }}

{{ end }}
