{{ define "main" }}

<article class="card">
  <header>
    <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
      {{ partial "metadata.html" . }}
  </header>

{{ with .Params.show_toc }}
    <div id="toc">
        <h2>Contenu</h2>
        {{ $.TableOfContents }}
    </div>
{{ end }}

    {{ .Content }}

</article>

<details class="more-content">
  <summary>Plus de contenu ?</summary>
<aside class="card" id="articles-roll">
    <p>
    <small>
    Un article{{ if .Next }} plus récent : <a href="{{ .Next.RelPermalink }}">{{ .Next.Title }}</a>{{ end }}
    {{ if .Prev }} plus ancien : <a href="{{ .Prev.RelPermalink }}">{{ .Prev.Title }}</a>{{ end }}
    </small>
    </p>
    {{ with .Params.bands }}
      <p><small>
    D'autres articles à propos de 
        {{ range . }}
            {{ $band := . }}
            {{ $tomap := $band | anchorize }}
            <a href="/bands/{{ $tomap }}">{{ $band }}</a>,&nbsp;
        {{ end }}
      </small></p>
    {{ end }}
    <p>
    <small>
        Un article aléatoire : {{ range first 1 (shuffle .Site.RegularPages) }} <a href="{{ .RelPermalink }}">{{ .Title }}</a>{{ end }}
    </small>
    </p>
</aside>
</details>

<!-- commentaires début -->
{{ partial "commentaires.html" . }}
<!-- commentaires fin -->

{{ end }}
