﻿{{ define "main" }}

<h1>{{ .Title }}</h1>

<p>{{ .Content }}</p>


<div class="card">
    <p>Voici les principales pages et catégories qui existent sur ce site :</p>
    <ul>
      {{ range .Site.Sections.ByTitle }}
          <li>
            {{ index $.Site.Data.sections (printf "%s" .Section) }}
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
{{ if eq .Title "Informatique" }}
    <ul>
        <li>
            <a href="{{ .Site.BaseURL }}tags/">Liste des tags</a>
        </li>
    </ul>
{{ end }}
          {{ $nb := len .Sections }}
          {{ if gt (len .Sections) 0 }}
              <ul>
          {{ range .Sections}}
              <li>
                  <a href="{{ .RelPermalink }}">{{ .Title }}</a>
              </li>
          {{ end }}
              </ul>
          {{ end }}
          </li>
      {{ end }}
    </ul>
</div>

{{ end }}
