
{{ $bands_list := .Site.Taxonomies.bands }}

<table class="bands-table">
    <thead>
        <tr>
            <th class="bands-name">Nom</th>
            <th class="bands-link">Lien</th>
        </tr>
    </thead>
    <tbody>
{{ range $band := sort $.Site.Data.groupes.liste_groupes "name" }}
{{ $tomap := $band.name | anchorize }}
{{ $band_articles := index $bands_list $tomap}}
        <tr>
            <td data-label="Nom">
                {{ if gt (len $band_articles) 0 }}
                    <a href="/bands/{{ $tomap }}">{{ $band.name }}</a>
                {{ else }}
                    {{ $band.name }}
                {{ end }}
            </td>
            <td data-label="Lien">
{{ with $band.web }}
    <a href="{{ . }}">Site web</a>
{{ end }}
{{ with $band.metal_archive }}
    <a href="https://www.metal-archives.com/bands/{{ . }}">Metal archives</a>
{{ end }}
{{ with $band.wiki_fr }}
    <a href="https://fr.wikipedia.org/wiki/{{ . }}">Wikipedia (Fr)</a>
{{ end }}
{{ with $band.wiki_en }}
    <a href="https://en.wikipedia.org/wiki/{{ . }}">Wikipedia (En)</a>
{{ end }}
{{ with $band.autre }}
    <a href="{{ . }}">Autre</a>
{{ end }}
</td>
        </tr>
{{ end }}
    </tbody>
</table>

